body {
    margin: 0;
    padding: 0;
    background-image: url('https://imgb14.photophoto.cn/20200619/paizhuobeijinglvse-37723941_3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

/* 勝率 */
#winRate {
    position: absolute;
    right: 0px;
    text-align: center;
    color: white;
    top: 16%;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    height: 100px;
    border-radius: 10px;
}

#winB{
    border-bottom: 1px solid white;
}


#rate {
    font-size: 20px;
    line-height: 5px;
    font-weight: bold;
}

/* 點數顯示 */
#dpp,
#ppp {
    position: absolute;
    right: 0px;
    color: white;
    text-align: center;
    border: 1px solid white;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#dealerP,
#playerP {
    margin-top: 30px;
    height: 50px;
    line-height: 35px;
    font-weight: bold;
    font-size: 40px;
}

#dlb,#prb {
    border-bottom: 1px solid white;
}

#dpp {
    top: 33%;
}

#ppp {
    bottom: 23%;
}

/* 圖片 */
#deal {
    position: absolute;
    right: 35%;
    top: 10%;
}

#deal>img {
    width: 100px;
    height: 150px;
    object-fit: contain;
}

#dealer {
    position: absolute;
    top: 0;
    left: 40%;
}

#dealer>img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

#choose {
    background-color: rgba(0, 0, 0, 0.5);
    width: 200px;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 15%;
    left: 37%;
    display: none;
    border-radius: 10px;
}
/* 遊戲紀錄 */
#gameRecord {
    position: absolute;
    top: 0;
    color: white;
}

table {
    width: 302px;
    background-color: rgba(0, 0, 0, 0.5);
}

table,
th,
td {
    border-collapse: collapse;
    text-align: center;
    border: 1px solid white;
    padding: 10px;
}

tr {
    height: 45px;
}

/* 撲克牌設定 */
#dealerscards {
    position: absolute;
    top: 32%;
    left: 44%;
}

#playerscards {
    position: absolute;
    bottom: 23%;
    left: 35%;
}

#dealerscards img,
#playerscards img {
    width: 100px;
    height: 150px;
    object-fit: contain;
    margin-left: 15px;
}

#dc1 {
    width: 100px;
    height: 150px;
    padding-top: 5px;
    top: -5px;
}

#cb {
    position: absolute;
    width: 100px;
    height: 150px;
    object-fit: contain;
    display: none;
}

#cardback {
    /* border-radius: px; */
    overflow: hidden;
    position: absolute;
    background-color: white;
    width: 100px;
    height: 150px;
    top: 32%;
    left: 36%;
    border-radius: 5px;
    display: none;
}

/* 遊戲按鈕 */
#gameStart {
    outline: none;
    cursor: pointer;
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    bottom: 11%;
    right: 27%;
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 16px;
}

#add {
    outline: none;
    cursor: pointer;
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    bottom: 11%;
    right: 20%;
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 16px;
}

#openc {
    outline: none;
    cursor: pointer;
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    bottom: 11%;
    right: 13%;
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 16px;
}

#restart {
    cursor: pointer;
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    bottom: 11%;
    right: 6%;
    background-color: black;
    color: white;
    outline: none;
    font-size: 16px;
    border: 1px solid white;
}

#gameStart:hover,
#add:hover,
#openc:hover,
#restart:hover {
    background-color: rgb(78, 76, 76);
}

/* footer */
#foot {
    text-align: center;
    color: white;
    position: absolute;
    border: 1px solid white;
    width: 100%;
    height: 10%;
    bottom: 0;
    left: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

#foot img:hover {
    opacity: 0.8;
    cursor: pointer;
}

#app {
    border: 1px solid white;
    color: white;
    width: 150px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 30px;
    border-radius: 10px;
    padding-right: 50px;
    position: absolute;
    right: -6px;
}
.OK {
    outline: none;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.OK:hover {
    background-color: rgb(78, 76, 76);
}

.col-1,.col-2{
    padding-top: 20px;
    /* border: 1px solid white; */
}
.col-5{
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.col-5>img{
    margin-right: 10px;
}