#AccountSetting{
    background-color: #999;
}

.SAsubTitle{
    margin-top: 20px;
    font-size: 25px;
    font-weight : bold
}
.SAhr{
    background-color: black;
    margin-top: 5px;
}
.SAinputBlock{
    margin-top: 10px;
}
.SAlabel{
    display: inline-block;
    width: 80px;

}
.SAinput{
    display: inline-block;
    width: calc(100% - 80px);
    
}
.SAinput[name=phone]{
    width: 300px;
}
select[name=bankName]{
    width: calc(100% - 80px);
}
/* .SAinput[name=subBankName]{
    width: 300px;
}
.SAinput[name=bankAccount]{
    width: 300px;
} */
#memberDataSetSubmitBtn{
    margin-top: 20px;
}

.SAinput[type=password]{
    width: 200px;
}
.control{
    text-align: end;
    width: 100%;
}
.submitBtn{
    color: white;
    background-image: linear-gradient(to top, #4567f2, #0ebedb);
    border: none;
    margin-top:10px ;
    display: inline-block;
}
