<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend</title>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- bootstrap -->
    <!-- jQuery -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/backend.css">
</head>

<body>
    <div id="side">
        <p id="sideP">Member Account: Louis</p>
        <side-component class="sideBtn btn" v-for="item in sideList" v-bind:side="item">
        </side-component>
    </div>
    <div id="top">
        <div>尊敬的代理商您好</div>
        <div id="time"></div>
        <button class="btn">登出</button>
    </div>
    <div id="checkBox">
        <p>至少選擇一個遊戲館</p>
        <checkbox-component v-for="item in checkBoxList" v-bind:check="item" v-on:example='exampleEmit'>
        </checkbox-component>
        {{apple}}
        <div>
            <p>帳務時間</p>
            <span><button>本月</button></span><span><button>上月</button></span>
        </div>
    </div>
    <script>
        // side btn
        Vue.component('side-component', {
            props: ['side'],
            template: "<button>{{side.text}}</button>"
        })

        var app = new Vue({
            el: '#side',
            data: {
                sideList: [
                    { id: 0, text: "報表管理" },
                    { id: 1, text: "會員管理" }
                ]
            }
        })
    </script>
    <script>
        setInterval(() => { time.innerText = new Date().toLocaleString() }, 1000)
    </script>

    <script>
        Vue.component('checkbox-component', {
            template: `<div>
                <label>
                    <input type="checkbox" v-model='game' :value='check.id' v-on:click='apple'>
                    {{check.text}}
                </label>
                </div>`,
            data() {

                return { game: [] }

            },
            props: ['check'],
            created() {
                this.$emit('example', this.game)
            },
            methods: {
                apple() {
                    if (true) {
                        var i = 0;
                        this.game[i] = this.check.id;
                        i += 1;
                    }
                    console.log(this.game);
                }
            },
        })

        var cbk = new Vue({
            el: '#checkBox',
            data: {
                checkBoxList: [
                    { id: 0, text: "全選" },
                    { id: 1, text: "妞妞" },
                    { id: 2, text: "21點" },
                    { id: 3, text: "射龍門" },
                    { id: 4, text: "骰寶" },
                    { id: 5, text: "百家樂" },
                    { id: 6, text: "球版" },
                    { id: 7, text: "捕魚機" },
                    { id: 8, text: "拉霸" },
                    { id: 9, text: "撞球" }
                ],
                apple: []
            },
            methods: {
                exampleEmit(data) {
                    this.apple = data
                }
            }
        })
    </script>


</body>

</html>